// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
color: green;
padding: 10px;
}
table{
border-collapse: collapse;
}