<!DOCTYPE html>
<html>
<head>
  <title>VetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 style = "text-align:center"> Veternary_App <h1>
<%= yield %>

</body>
</html>
